.Cards {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:5px;
    padding: 25px;
}

.Card {
    height: 10cm;
    width: 8cm;
    background-color: rgba(176, 176, 176, 0.311);
    background-size: contain;
    border-radius: 10px;
    border-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    color:black;
    box-shadow: 0 8px 32px 0 rgba(28, 61, 133, 0.575);
    text-shadow: 2px 2px 2px #0c0c0c33;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Card h2{
    margin:10px;
}

.Card:hover{
    background-color: rgba(255, 255, 255, 0.311);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.733);
    
}

.img {

    width: 250px;
    height: 200px;
    box-shadow: 15px;
    border-radius: 5px;
    margin-top: 20px;
}