.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.Caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12cm;
    height: 18cm;
    background-color: rgba(152, 152, 152, 0.473);
    border-radius: 20px;
    padding: 15px;
    margin: 30px;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow Bold', Arial, sans-serif ;
    
}

.Caja h1{
    margin:3px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
}


.titulos{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}


.info{
    display:flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    height:270px;
    width:350px;
    border-radius: 20px;
}

.infofas{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.description{
    text-decoration: none;
    height: 8cm;
    overflow: auto;
    padding: 4px;
}