.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(49, 49, 49);
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding-inline: 40px;
}

.navbarlink{
  text-decoration: none;
  flex-wrap: wrap;
  flex-direction: column;
  color:white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 5px 5px 5px #0c0c0c;
}

.title{
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: bolder;
    margin: 0px;
    border-color: 3px black;
    color: #9ff4ff;
    text-shadow: 5px 5px 5px #0c0c0c;
    text-decoration: none;
    padding: 0px;
}


.filtros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    background-color: #bfbfbf8d;
    font-size: 17px;
    text-shadow: 2px 2px 2px #0c0c0c54;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.select{
    display: block;
  font-size: 12px;
  font-family: 'Verdana', sans-serif;
  font-weight: 400;
  color: #444;
  text-align: center;
  width: 300px;
  padding: 2px;
  box-sizing: border-box;
  margin: 20px auto;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
  border-radius: .3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.loading{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 2px #0c0c0c54;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnhome{
    background: #fafaf9;
    border-color: rgb(94, 94, 94);
    border-radius: 10px;
    margin: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding: 5px;

}

.btnhome:hover{
  background: #9ff4ff;
  border-color: rgb(226, 226, 226);
    color: #000000;
    cursor: pointer;
}