.landingbody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.landing{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px 3px #0c0c0c8f;
    text-decoration: none;
    width: max-content;
    height: max-content;
    
}
.landing h1{
    margin: 0px;
    flex-wrap: wrap;
}

.landing a.a{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}

.btn{
    width: fit-content;
    height:fit-content;
    background: #fafaf9;
    border-color: rgb(94, 94, 94);
    border-radius: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 25px;
    text-decoration: none;
    text-align: center;
   
}

.btn:hover{
    width: fit-content;
    height:fit-content;
    background-color: rgba(255, 255, 255, 0.247);
    color: rgb(0, 0, 0);
    border-color:#c9c9c9;
    border-radius: 15px;
    cursor: pointer;
    

}
