.paginated{
    gap: 30px;
    color: rgb(7, 202, 7);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 2rem;
    
}